.section__padding{
  padding:4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText{
  font-family: var(--font-title);
}

.p__eng{
  font-family: var(--font-nav);
  font-size:23px;
}

.p__kor{
  font-family: var(--font-kor);
  font-size:18px;
}
