@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lemon&family=RocknRoll+One&family=Russo+One&display=swap');

:root{
  --font-logo:'Lemon',serif;
  --font-nav: 'RocknRoll One', serif;
  --font-title: 'Russo One', sans-serif;
  --font-kor: 'Gowun Dodum', sans-serif;

  --color-ivory:#FFF5D1;
  --color-yellow:#FFDF65;
  --color-tomato:#E15B31;
  --color-pink:#EA6B6B;
  --color-kakki:#3F9793;
  --color-mustard:#EDE872;
  --color-lightpink:#FCC0CC;
  --color-grey:#9D9D9D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-right{
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes rotate-Lp {
  100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-LP {
  100%{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}